.obsidian/plugins/recent-files-obsidian/data.json
.obsidian/plugins/remember-cursor-position/cursor-positions.json
.obsidian/app.json
# .obsidian/appearance.json 
# .obsidian/community-plugins.json
# .obsidian/core-plugins-migration.json
#.obsidian/core-plugins.json
.obsidian/plugins/link-navigation/data.json
.obsidian/workspace.json
.trash/
.obsidian/plugins/my-ollama-plugin/chat_history.json
.obsidian/plugins/obsidian-ollama-duet/chat_history.json
*.mp3
